<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::common"></head>


<body>
<div class="container">
  <div th:replace="layout::header"></div>
  <div class="row">
    <div th:replace="menu::menu"></div>
    <div th:replace="content::content"></div>
  </div>
  <div th:replace="layout::footer"></div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/iziModal.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>
