<div id="menu" class="col-md-2 col-sm-2" th:fragment="menu">
  <ul class="list-group list-group-flush d-flex flex-column justify-content-md-end">
    <li id="profile__button" class="list-group-item">
      <p>Profile</p>
    </li>
    <li id="skill__button" class="list-group-item">
      <p>Skill</p>
    </li>
    <li  id="product__button" class="list-group-item">
      <p>Product</p>
    </li>
    <li id="other__button" class="list-group-item">
      <p>Other</p>
    </li>
    <li class="list-group-item list-blank">
    </li>
  </ul>
</div>
