<div id="product" th:fragment="product">

  <div id="product__detail" class="modal-window">
    <div class="iziModal-header">
      <div class="close">
        <a data-izimodal-close="">×</a>
      </div>
      <h2 class="iziModal-header-title">Product</h2>
      <h3 class="iziModal-header-subtitle">Dm/F -discover music on feelings-</h3>
    </div>
    <div class="iziModal-wrap">
      <div class="iziModal-content">
        <div id="product__detail-content--upper" class="pt-2 content550 clearfix mx-auto text-center">
          <div id="product__detail-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../images/DmonF/top.png" alt="top">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../images/DmonF/top2.png" alt="top2">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../images/DmonF/tag.png" alt="tag">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../images/DmonF/artist.png" alt="artist">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../images/DmonF/album.png" alt="album">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../images/DmonF/mypage.png" alt="mypage">
              </div>
            </div>
            <a class="carousel-control-prev" href="#product__detail-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">前に戻る</span>
            </a>
            <a class="carousel-control-next" href="#product__detail-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">次に送る</span>
            </a>
          </div>
        </div>
        <div id="product__detail-content--bottom" class="pt-3 content550 clearfix mx-auto">
          <a href="http://www.discovermusiconfeelings.com/" id="product__detail-card" class="card">
            <img id="product__detail-logo" class="card-img float-left" src="../images/DmonF/logo.png" alt="logo">
          </a>
          <div id="product__detail-caption" class="float-right">
            <p>直感を頼りに、未知の音楽を検索できるサービス。</p>
            <a href="https://github.com/fujitami/final-project">
              <i class="fab fa-github"></i>
            </a>
            <p>制作期間:2018.8-2018.10</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
