<div id="profile" th:fragment="profile">

  <div id="profile__detail" class="modal-window">
    <div class="iziModal-header">
      <div class="close">
        <a data-izimodal-close="">×</a>
      </div>
      <h2 class="iziModal-header-title">Profile</h2>
    </div>
    <div class="iziModal-wrap">
      <div class="iziModal-content">
        <h4 id="profile__detail-content--upper" class="pt-2 content550 clearfix mx-auto">Midori Fujita</h4>
        <div id="profile__detail-content--middle" class="content550 clearfix mx-auto">
          <img id="profile__detail-content--icon" class="float-left" src="../images/kakikunsq.PNG" alt="fujitami">
          <div id="profile__detail-content--caption" class="float-right">
            <p>1993.4.23生。多摩地区育ち。</p>
            <p>所属や性別、世代を問うことなく、</p>
            <p>様々なひとの生活を支えることができる、</p>
            <p>そういったものをつくることに携わっていきたいです。</p>
          </div>
        </div>
        <div id="profile__detail-content--bottom" class="pt-2 content550 clearfix mx-auto text-center">
          <a href="https://twitter.com/1plus1plus1plus" class="profile__detail-link px-5">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://github.com/fujitami" class="profile__detail-link px-3">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
