<div id="skill" th:fragment="skill">

  <div class="skill__detail modal-window">
    <div class="iziModal-header">
      <div class="close">
        <a data-izimodal-close="">×</a>
      </div>
      <h2 class="iziModal-header-title">Skill</h2>
      <p class="iziModal-header-subtitle">使用経験あり</p>
    </div>
    <div class="iziModal-wrap">
      <div class="iziModal-content">
        <div id='skill__detail-content' class="content550 mx-auto text-center pt-2">
          <img id="skill__detail-image--ruby" class="skill__detail-image" src="../images/skills/ruby.png" alt="Ruby">
          <img id="skill__detail-image--rails" class="skill__detail-image" src="../images/skills/rails.png" alt="Rails">
          <img id="skill__detail-image--html5" class="skill__detail-image" src="../images/skills/html-5.png" alt="HTML5">
          <img id="skill__detail-image--haml" class="skill__detail-image" src="../images/skills/haml.png" alt="Haml">
          <img id="skill__detail-image--css3" class="skill__detail-image" src="../images/skills/css-3.png" alt="CSS3">
          <img id="skill__detail-image--sass" class="skill__detail-image" src="../images/skills/sass.png" alt="Sass">
          <img id="skill__detail-image--bootstrap" class="skill__detail-image" src="../images/skills/bootstrap.png" alt="Bootstrap">
          <img id="skill__detail-image--javascript" class="skill__detail-image" src="../images/skills/javascript.png" alt="JavaScript">
          <img id="skill__detail-image--jquery" class="skill__detail-image" src="../images/skills/jquery.png" alt="jQuery">
          <img id="skill__detail-image--mysql" class="skill__detail-image" src="../images/skills/mysql.png" alt="MySQL">
          <img id="skill__detail-image--aws" class="skill__detail-image" src="../images/skills/aws.png" alt="AWS">
          <img id="skill__detail-image--github" class="skill__detail-image" src="../images/skills/github-octocat.png" alt="GitHub">
          <img id="skill__detail-image--trello" class="skill__detail-image" src="../images/skills/trello.png" alt="Trello">
        </div>
      </div>
    </div>
  </div>

  <div class="skill__detail modal-window">
    <div class="iziModal-header">
      <div class="close">
        <a data-izimodal-close="">×</a>
      </div>
      <h2 class="iziModal-header-title">Skill</h2>
      <p class="iziModal-header-subtitle">勉強中</p>
    </div>
    <div class="iziModal-wrap">
      <div class="iziModal-content">
        <div id='skill__detail-content' class="content550 mx-auto text-center pt-2">
          <img id="skill__detail-image--python" class="skill__detail-image" src="../images/skills/python.png" alt="Python">
          <img id="skill__detail-image--java" class="skill__detail-image" src="../images/skills/java.png" alt="Java">
          <img id="skill__detail-image--spring" class="skill__detail-image" src="../images/skills/spring.png" alt="Spring">
          <img id="skill__detail-image--centos" class="skill__detail-image" src="../images/skills/centos-icon.png" alt="CentOS">
          <img id="skill__detail-image--digitalocean" class="skill__detail-image" src="../images/skills/digital-ocean.png" alt="DigitalOcean">
          <img id="skill__detail-image--heroku" class="skill__detail-image" src="../images/skills/heroku.png" alt="heroku">
        </div>
      </div>
    </div>
  </div>

</div>
